<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

    <mat-card *ngIf="item" fxFlex>
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
                <h3>{{item.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{item.image}} alt={{item.name}}>
        <mat-card-content>
            <p>{{item.description}}
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="employee" fxFlex>
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
                <h3>{{employee.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{employee.image}} alt={{employee.name}}>
        <mat-card-content>
            <p>{{employee.jobPosition}}
            </p>
            <p>{{employee.jobPosition}}
            </p>
        </mat-card-content>
    </mat-card>
</div>